Importing required libraries

In [1]:
import os
import pandas as pd
import matplotlib as plt

pd.set_option('display.max_rows', 600)
pd.set_option('display.max_columns', 50)

%matplotlib inline

Setting path location for the train and test data

In [2]:
PATH = r"C:\Users\somep\Desktop\Spring_leaf_kaggle"

Loadinng the raw data

In [ ]:
def display_all(df):
    
    '''Function to display more than the default rows & columns in pandas'''
    
    with pd.option_context("display.max_rows", 1000, "display.max_columns", 2000,'display.max_colwidth', -1): 
        display(df)

In [3]:
df_raw = pd.read_csv(f'{PATH}' + r'\train\train.csv',low_memory=False)
#                      , low_memory=False, 
#                      parse_dates=["saledate"])

In [ ]:
display_all(df_raw.head())

In [ ]:
df_raw.head()

In [6]:
pd.DataFrame(df_raw.dtypes).T

,ID,VAR_0001,VAR_0002,VAR_0003,VAR_0004,VAR_0005,VAR_0006,VAR_0007,VAR_0008,VAR_0009,VAR_0010,VAR_0011,VAR_0012,VAR_0013,VAR_0014,VAR_0015,VAR_0016,VAR_0017,VAR_0018,VAR_0019,VAR_0020,VAR_0021,VAR_0022,VAR_0023,VAR_0024,...,VAR_1911,VAR_1912,VAR_1913,VAR_1914,VAR_1915,VAR_1916,VAR_1917,VAR_1918,VAR_1919,VAR_1920,VAR_1921,VAR_1922,VAR_1923,VAR_1924,VAR_1925,VAR_1926,VAR_1927,VAR_1928,VAR_1929,VAR_1930,VAR_1931,VAR_1932,VAR_1933,VAR_1934,target
0,int64,object,int64,int64,int64,object,float64,float64,object,object,object,object,object,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,float64,...,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,int64,object,int64

In [7]:
df_raw.target.describe()

count    145231.000000
mean          0.232547
std           0.422457
min           0.000000
25%           0.000000
50%           0.000000
75%           0.000000
max           1.000000
Name: target, dtype: float64

In [9]:
df_raw.target.value_counts()/len(df_raw)

0    0.767453
1    0.232547
Name: target, dtype: float64